<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body class="standard-background">
        <h1 style="text-decoration: underline;">Dashboard</h1>
        <div class="container">
            <h1>Welcome to the dashboard, <%= user %>!</h1>
            <a href="/logout">Logout</a> <br>
            <a href="/getActivity">Find an Activity to Do!</a> <br>
        </div>
    </body>

</html>